body{
    background-color: #edebf2;
}

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 640px;
    height: 1620px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Google Sans', sans-serif;
    font-weight: normal;
}

h5{
    position: relative;
    margin: 0;
    top: -10px;
}

h3:last-child{
    color: #d93025;
    font-size: 14px;
}

h3{
    font-size: 18px;
}

.required-item::after{
    content: " *";
    color: #d93025;
}


.section-info p{
    font-size: 14px;
    line-height: 20px;
}

.section{
    padding: 0 20px;
    border-radius: 8px;
    margin: 20px 0;
    max-width: 640px;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.section-image{
    background-image: url("https://lh3.googleusercontent.com/IAiUoyhlC1HpvCkmd2yZ_gxl5lR_IA3X8jqFxmHPFrFFPv4HlfrmQLCIsCFU4XzghSediZgIsP6AaX-rAro2xoUSkn_O0hyXxxs6en_O7lrb4bembwc_v6qK5av76Q=w1200");
    height: 160px;
    background-size: cover;
    margin: 10px 0;
    border-radius: 8px;
}

.section-info{
    padding: 0 20px;
    border-radius: 8px;
    margin: 20px 0;
    height: 160px;
    max-width: 640px;
    background-color: white;
    border-top: 10px solid;
    border-color: #483b7e;
}

ul{  
    padding: 0;
    list-style: none;
    font-size: 0;
}

li{
    font-size: 0;
    margin-top: 10px;
    padding: 3px;
}

li>label{
    position: relative;
    bottom: 5px;
    font-size: 17px;
    right: 8px;
}

.btn-submit{
    background-color: #483b7e;
    color:white;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

input[type="text"]{
    top: 20px;
    margin-bottom: 23px;
    width: 50%;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
    outline: none;
    font-size: 16px;
    color:#5f6368;
}

input:focus{
    border-bottom: 2px solid #483b7e;
}

.feedback{
    position: relative;
    top: 7px;
    font-size: 12px;
    text-align: center;
    color:#000000a8;
}

footer>p{
    position: relative;
    top: 7px;
    font-size: 12px; 
    color:#000000a8;
}

.logo-element-2{
    display: inline-block;
    font-size: 22.1px;
    position: relative;
    top: 20px;
    opacity: 0.5;
}

a{
    color:#000000a8;
}

.btn-submit:hover{
    opacity: 0.9;
}

.logo-element-1{
    opacity: 0.3;
    position: relative;
    top: 25px;
}

input[type="checkbox"]{
    position: relative;
    opacity: 0;
    margin: 0;
    z-index: 2;
    width: 23px;
    height: 22px;
}

#dish-other{
    position: relative;
    top: -7px;
    padding: 0;
    left: 20px;
}


input[type="checkbox"]:checked~.check-box{
    content: url(Images/img_2.png);
    opacity: 1;
}

.check-box{
    position: relative;
    content: url(Images/img_1.png);
    width: 20px;
    height: 20px;
    left: -21.3px;
    top: -1px;
}

.radio-box{
    position: relative;
    content: url(Images/img_3.png);
    width: 24px;
    height: 24px;
    left: -21.3px;
}

input[type="radio"]{
    opacity: 0;
    z-index: 1;
    position: relative;
    top: -7.8px;
    right: 1.3px;
}

input[type="radio"]:checked~.radio-box{
    content: url(Images/img_4.png);
    opacity: 1;
}

@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

}

@font-face {
    font-family: 'Google Sans', sans-serif;
    src: local('Google Sans Regular'), local('Google-Sans-Regular'),
        url('Fonts/GoogleSans-Regular.woff2') format('woff2'),
        url('Fonts/GoogleSans-Regular.woff') format('woff'),
        url('Fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

